@model IEnumerable<ClothBazar.Entities.Category>
@{
	ViewBag.Title = "Index";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="title-section">
                <div class="title">
                    Categories
                </div>
            </div>
		</div>
	</div>
</div>
<div id="tableContainer" >
    @{
        Html.RenderAction("CategoryTable");
    }
</div>
<div id="actionContainer">

</div>